header {
  text-align: center;
  background-color:rgb(59, 59, 59);
  margin-bottom: 20px;
  padding: 10px;
}
a {
  margin: 0 10px;
  color: rgb(192, 186, 186);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: aliceblue;
  text-decoration: underline;
}


button
{
  color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}
