div{
    box-sizing: border-box;
    width: 70%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    background-color: rgba(0, 0, 0, 0.288);
    img {
      width: 50%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
  }

  h1{
    color:aliceblue;
  }
  h2{
    color:aliceblue;
  }

  h3{
    color:aliceblue;
  }
  h4{
    color:aliceblue;
  }
  p{
    color:aliceblue;
  }