<div class="single-game-card" *ngIf="game$ | async as game" [ngClass]="{ liked: alreadyLiked }">
  <h2>Nom de la partie: {{ game.title | uppercase }}</h2>
  <a routerLink="/games"> Back </a>
  <p>Créé le {{ game.createdDate | date: 'à HH:mm, le d MMMM yyyy'  }}</p>
  <img [src]="game.imageUrl" [alt]="game.title">
  <p>{{ game.description }}</p>
  <button (click)="onLike(game.id)">{{ likeButtonText }}</button>
  <span [ngStyle]="{ color: 'rgb(0, 0,' + game.likes + ')' }">Likes: {{ game.likes }}</span>
  </div>
